.main_layout {
  /* height: 100vh; */
  /* width: 100vw; */
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.sidebar {
  position: fixed;
  left: 0;
  width: 220px;
  overflow: hidden;
  overflow-y: auto;
  height: calc(100vh - 65px);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #261c00;
  padding-top: 5px;
}

.sidebarBlur {
  position: fixed;
  inset: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.9);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.sidebarMobile {
  border-radius: 15px;
  overflow: hidden;
  background: #261c00;
  padding-top: 5px;
  position: fixed;
  left: 25px;
  top: 75px;
  width: 280px;
  z-index: 20;
}

.main_body {
  margin: 65px 0 0 215px;
} /* 
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  color: #999;
  padding: 8px 15px;
  height: 30px;
  text-align: center;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}
.footer_links {
  display: flex;
  gap: 10px;

  & p {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  & svg {
    font-size: 5px;
  }
} */
@media (max-width: 768px) {
  .main_body {
    margin-left: 0;
  }
  .sidebar {
    display: none;
    position: none;
  }
}
